<!DOCTYPE html>
<html>
<head>
  <title>ChatMeetLove.com</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <header>
    <ul class="list-inline">
      <li><%= link_to 'home', root_path %></li>
      <li><%= link_to 'login', login_path %></li>
      <li><%= link_to 'register', register_path %></li>
    </ul>
  </header>

  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "alert alert-info #{key}" %>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
